@model SportsBet247.ViewModels.SportEventsViewModel

@{
    this.ViewData["Title"] = "Boxing events";
}

<div class="text-center font-weight-bold btn-secondary">
    <table class="table">
        <thead class="btn-success">
            <tr>
                <th>First boxer</th>
                <th>Odd</th>
                <th>Second boxer</th>
                <th>Odd</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var boxingEvent in Model.SportEvents)
            {
                <tr class="table-striped col-md-12">
                    <td>
                        @boxingEvent.HomeTeamName
                    </td>
                    <td class="btn-warning">
                        @boxingEvent.HomeTeamOddView
                    </td>
                    <td>
                        @boxingEvent.AwayTeamName
                    </td>
                    <td class="btn-warning">
                        @boxingEvent.AwayTeamOddView
                    </td>
                    <td>
                        @boxingEvent.PlayedOn
                    </td>
                </tr>
            }
    </table>
</div>
