@model SportsBet247.ViewModels.SportEventsViewModel

@{
    this.ViewData["Title"] = "Football events";
}

<div class="text-center font-weight-bold btn-secondary">
    <table class="table">
        <thead class="btn-success">
            <tr>
                <th>Home team</th>
                <th>Odd</th>
                <th>Away team</th>
                <th>Odd</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var footballEvent in Model.SportEvents)
            {
                <tr class="table-striped col-md-12">
                    <td>
                        @footballEvent.HomeTeamName
                    </td>
                    <td class="btn-warning">
                        @footballEvent.HomeTeamOddView
                    </td>
                    <td>
                        @footballEvent.AwayTeamName
                    </td>
                    <td class="btn-warning">
                        @footballEvent.AwayTeamOddView
                    </td>
                    <td>
                        @footballEvent.PlayedOn
                    </td>
                </tr>
            }
    </table>
</div>
